@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2014/06/GIF.gif" />